<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.franmelp.golfgps">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HoleVizOne"
            android:label="@string/title_activity_hole_viz_one"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizTwo"
            android:label="@string/title_activity_hole_viz_two"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HoleVizThree" />
        <activity android:name=".HoleVizFour" />
        <activity android:name=".HoleVizFive" />
        <activity android:name=".HoleVizSix" />
        <activity android:name=".HoleVizSeven" />
        <activity android:name=".HoleVizEight" />
        <activity android:name=".HoleVizNine" />
        <activity android:name=".HoleVizTen" />
        <activity android:name=".HoleVizEleven" />
        <activity android:name=".HoleVizTwelve" />
        <activity android:name=".HoleVizThirteen" />
        <activity android:name=".HoleVizFourteen" />
        <activity android:name=".HoleVizFifteen" />
        <activity android:name=".HoleVizSixteen" />
        <activity android:name=".HoleVizSeventeen" />
        <activity android:name=".HoleVizEigtheen" />
        <activity android:name=".HoleVizEighteen"></activity>
    </application>

</manifest>
