<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.franmelp.golfgps">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HoleVizOne"
            android:label="@string/title_activity_hole_viz_one"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizTwo"
            android:label="@string/title_activity_hole_viz_two"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizThree"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizFour"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizFive"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizSix"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizSeven"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizEight"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizNine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizTen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizEleven"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizTwelve"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizThirteen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizFourteen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizFifteen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizSixteen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizSeventeen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HoleVizEighteen"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".AllHoleViewer"></activity>
    </application>

</manifest>
